<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../../assets/images/iconos/icono-hhp.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Happy Home Paradise</h1>
    </div>
    <p-divider></p-divider>
    <p>
      Happy Home Paradise es un DLC de Animal Crossing New Horizons el cual nos permitirá tener un trabajo como diseñador de interiores.
      En el aeródromo podremos viajar a una isla en la cual nos encontraremos con Nuria, Miko y Matías.
      Ellos nos ayudarán a diseñar las casas soñadas de los aldeanos que desean tener un lugar de vacaciones. También podrás
      disfrutar creando establecimientos como restaurantes o cafeterías para repoblar esta preciosa isla.
    </p>
    <br>
    <h2>¿Cómo funciona reformar una casa?</h2>
    <p-divider></p-divider>
    <p>
      Para ello solo tendremos que hablar con Nuria para que nos contrate y una vez contratados podremos hablar con los visitantes
      de la isla para escuchar sus propuestas y ayudarles en sus peticiones.
    </p>
    <p>
      Cada visitante pedirá cosas distintas, a algunos les gusta mucho el frío, a otros les gusta más el calor, unos prefieren los colores
      simples y otros son más llamativos. Nuria nos pagará pokis por nuestros trabajos, con los cuales podremos comprar objetos a Matías.
      Mientras tanto Miko nos llevará en su barca a las casas así como nos acompañará en el proceso.
    </p>
    <div style="display: flex;">
      <img src="../../../../../assets/images/hhp/hhp1.jpg" height="300" width="500"/>
      <img src="../../../../../assets/images/hhp/hhp2.jpeg" height="300" width="500"/>
      <img src="../../../../../assets/images/hhp/hhp3.jpg" height="300" width="500"/>
    </div>
  </div>
</body>

