<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../assets/images/iconos/icono-vecinos.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Vecinos</h1>
    </div>
    <p-divider></p-divider>
    <div class="card flex justify-content-center">
      <!-- PERROS -->
      <p-card header="Perros">
        <div style="display: flex;">
          <div>
            <img src="../../../../assets/images/vecinos/perros/amanda.png" height="100" width="100"/>
            <p>Amanda</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/perros/bea.png" height="100" width="100"/>
            <p>Bea</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/perros/luna.png" height="100" width="100"/>
            <p>Luna</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/perros/purita.png" height="100" width="100"/>
            <p>Purita</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/perros/tere.png" height="100" width="100"/>
            <p>Tere</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/perros/ulises.png" height="100" width="100"/>
            <p>Ulises</p>
          </div>
        </div>
      </p-card>

      <br>
      <!-- GATOS -->
      <p-card header="Gatos">
        <div style="display: flex;">
          <div>
            <img src="../../../../assets/images/vecinos/gatos/arandano.png" height="100" width="100"/>
            <p>Arándano</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/gatos/feli.png" height="100" width="100"/>
            <p>Feli</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/gatos/melina.png" height="100" width="100"/>
            <p>Melina</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/gatos/misi.png" height="100" width="100"/>
            <p>Misi</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/gatos/narciso.png" height="100" width="100"/>
            <p>Narciso</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/gatos/wanda.png" height="100" width="100"/>
            <p>Wanda</p>
          </div>
        </div>
      </p-card>

      <br>
      <!-- CERDOS -->
      <p-card header="Cerdos">
        <div style="display: flex;">
          <div>
            <img src="../../../../assets/images/vecinos/cerdos/aurelia.png" height="100" width="100"/>
            <p>Aurelia</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/cerdos/jacobo.png" height="100" width="100"/>
            <p>Jacobo</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/cerdos/margari.png" height="100" width="100"/>
            <p>Margari</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/cerdos/porcinio.png" height="100" width="100"/>
            <p>Porcinio</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/cerdos/talia.png" height="100" width="100"/>
            <p>Talía</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/cerdos/Espork.png" height="100" width="100"/>
            <p>Espork</p>
          </div>
        </div>
      </p-card>

      <br>
      <!-- ARDILLAS -->
      <p-card header="Ardillas">
        <div style="display: flex;">
          <div>
            <img src="../../../../assets/images/vecinos/ardillas/azabache.png" height="100" width="100"/>
            <p>Azabache</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/ardillas/fardilia.png" height="100" width="100"/>
            <p>Fardilia</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/ardillas/filberto.png" height="100" width="100"/>
            <p>Filberto</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/ardillas/marilo.png" height="100" width="100"/>
            <p>Mariló</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/ardillas/proton.png" height="100" width="100"/>
            <p>Protón</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/ardillas/tania.png" height="100" width="100"/>
            <p>Tania</p>
          </div>
        </div>
      </p-card>

      <br>
      <!-- CONEJOS -->
      <p-card header="Conejos">
        <div style="display: flex;">
          <div>
            <img src="../../../../assets/images/vecinos/conejos/cocoloca.png" height="100" width="100"/>
            <p>Cocoloca</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/conejos/coni.png" height="100" width="100"/>
            <p>Coni</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/conejos/katia.png" height="100" width="100"/>
            <p>Katia</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/conejos/linda.png" height="100" width="100"/>
            <p>Linda</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/conejos/piluca.png" height="100" width="100"/>
            <p>Piluca</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/conejos/saltiago.png" height="100" width="100"/>
            <p>Saltiago</p>
          </div>
        </div>
      </p-card>

      <br>
      <!-- PATOS -->
      <p-card header="Patos">
        <div style="display: flex;">
          <div>
            <img src="../../../../assets/images/vecinos/patos/jarrea.png" height="100" width="100"/>
            <p>Jarrea</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/patos/ketchup.png" height="100" width="100"/>
            <p>Kétchup</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/patos/martita.png" height="100" width="100"/>
            <p>Martita</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/patos/mirta.png" height="100" width="100"/>
            <p>Mirta</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/patos/paquita.png" height="100" width="100"/>
            <p>Paquita</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/patos/paticio.png" height="100" width="100"/>
            <p>Patricio</p>
          </div>
        </div>
      </p-card>

      <br>
      <!-- PINGÜINOS -->
      <p-card header="Pingüinos">
        <div style="display: flex;">
          <div>
            <img src="../../../../assets/images/vecinos/pingüinos/bobi.png" height="100" width="100"/>
            <p>Bobi</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/pingüinos/cube.png" height="100" width="100"/>
            <p>Cube</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/pingüinos/fredo.png" height="100" width="100"/>
            <p>Fredo</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/pingüinos/nieves.png" height="100" width="100"/>
            <p>Nieves</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/pingüinos/petin.png" height="100" width="100"/>
            <p>Petín</p>
          </div>
          <div>
            <img src="../../../../assets/images/vecinos/pingüinos/tomeo.png" height="100" width="100"/>
            <p>Tomeo</p>
          </div>
        </div>
      </p-card>
    </div>
  </div>

</body>

