<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../assets/images/iconos/icono-aldeano.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">El aldeano</h1>
    </div>
    <p-divider></p-divider>
    <p>
      El jugador, también conocido como aldeano, es el personaje representativo del Jugador principal de la serie.
      Es el personaje que manejarás durante tu vida en el pueblo, realizando las acciones principales de este, como
      cazar y pescar, regar, pagar la hipoteca.
    </p>
    <br>
    <h2>Personalizar nuestro aldeano</h2>
    <p-divider></p-divider>
    <p>
      La personalización de nuestro aldeano es bastante completa. A medida que vamos avanzando en el juego podremos cambiar
      distintos aspectos de nuestro aldeano.
    </p>
    <p>
      Podemos personalizar el tono de piel, el peinado, el color de pelo, los accesorios y la ropa.
    </p>
    <br>
    <div style="display: flex;">
      <img src="../../../../../assets/images/aldeano/aldeano1.jpg" height="300" width="500"/>
      <img src="../../../../../assets/images/aldeano/aldeano2.avif" height="300" width="500"/>
      <img src="../../../../../assets/images/aldeano/aldeano3.jpg" height="300" width="500"/>
    </div>
  </div>
</body>

