<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../assets/images/iconos/icono-peces.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Peces</h1>
    </div>
    <p-divider></p-divider>
    <p>
      Los peces son una parte importante de la serie Animal Crossing. Se pueden encontrar en el Río, Océano,
      Estanques y en la Cascada. Los peces se pueden pescar con la Caña de pescar.
    </p>
    <p>
      Cabe aclarar que en el juego se encasilla en esta categoría a todo ser vivo que pueda ser capturado con la Caña,
      aunque en la vida real no pertenezcan a esta clase. Un ejemplo de esto son las mariposas marinas, que son un molusco.
    </p>
    <div style="justify-content: center; text-align: center;">
      <img src="../../../../assets/images/colecciones/peces/peces.jpg"/>
    </div>
  </div>
</body>

