<app-navbar></app-navbar>
<body>
  <div>
    <div class="contenido">
      <br>
      <div style="display: flex;">
        <img src="../../../../assets/images/iconos/icono-herramientas.png" height="100" width="100">
        <h1 style="align-self: center; margin-top: 2%;">Herramientas</h1>
      </div>
      <p-divider></p-divider>
      <div>
        <p>
          Las herramientas son los objetos más importantes en Animal Crossing, son usados para realizar múltiples acciones en el juego, cada
          herramienta tiene un uso específico. Hay herramientas básicas con las cuales se pueden cavar agujeros, cortar arboles, pescar,
          regar flores, entre otras acciones. También podemos encontrar otras herramientas más específicas las cuales nos ayudarán a movernos
          por la isla o cambiarnos de ropa por ejemplo, aunque estas no son esenciales para la jugabilidad.
        </p>
        <p>
          Hay una versión dorada de las herramientas básicas. Las herramientas doradas son más eficientes y tienen efectos adicionales.
          En Animal Crossing New Horizons podemos endurecer las herramientas endebles y además podemos personalizarlas.
        </p>
        <p>
          Los objetos que se pueden llevar en las manos no son considerados herramientas, son objetos que sirven para decorar, para que nuestro jugador pueda llevarlos.
          Aquí está la lista de las distintas herramientas:
        </p>
      </div>
      <br>
      <h2>Lista de herramientas</h2>
      <p-divider></p-divider>
      <p>Herramientas básicas</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <div style="justify-content: center; align-items: center;">
          <img src="../../../../assets/images/herramientas/hacha.png" width="150" height="150"/>
          <p>Hacha</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/cania.png" width="150" height="150"/>
          <p>Caña</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/red.png" width="150" height="150"/>
          <p>Red</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/pala.png" width="150" height="150"/>
          <p>Pala</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/tirachinas.png" width="150" height="150"/>
          <p>Tirachinas</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/regadera.png" width="150" height="150"/>
          <p>Regadera</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/trajebanio.png" width="150" height="150"/>
          <p>Traje de baño</p>
        </div>
      </div>
      <br>
      <p>Herramientas especializadas</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <div>
          <img src="../../../../assets/images/herramientas/escalera.png" width="150" height="150"/>
          <p>Escalera</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/cronometro.png" width="150" height="150"/>
          <p>Cronómetro</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/pertiga.png" width="150" height="150"/>
          <p>Pértiga</p>
        </div>
        <div>
          <img src="../../../../assets/images/herramientas/varita.png" width="150" height="150"/>
          <p>Varita Mágica</p>
        </div>
      </div>
    </div>
  </div>
</body>


