<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../assets/images/iconos/icono-fosiles.png" height="80" width="80">
      <h1 style="align-self: center; margin-top: 2%; margin-left: 2%;">Fósiles</h1>
    </div>
    <p-divider></p-divider>
    <p>
      Los fósiles són objetos aparecen bajo un icono de una piedra azul con unos dibujos de una concha
      (probablemente inspirado en un amonites), una pequeña estrella y un pequeño círculo.
      Los fósiles constituyen una parte muy importante del museo, la de la exposición de los mismos. A Sócrates, el encargado del museo,
      le encantan. De hecho, la paleontología es un gran fuerte que tiene.
    </p>
    <p>
      Los fósiles son partes de dinosaurios (pueden ser 2, 3 o 4 por cada), aunque también hay otros independientes que constan de una sola pieza (como el amonites).
    </p>
    <br>
    <h2>¿Cómo conseguir los fósiles?</h2>
    <p-divider></p-divider>
    <p>
      Los fósiles se consiguen desenterrándolos con la pala cuando veas una grieta en el suelo con forma de estrella.
       Cuando lo desentierres verás que tiene forma circular, de color azul oscuro y con una espiral y dos estrellitas blancas,
       debido a que se desconoce aún de qué fósil es.
    </p>
    <br>
    <h2>¿Qué hacer con los fósiles?</h2>
    <p-divider></p-divider>
    <ul>
      <li>Donarlos al museo y completar así la colección de fósiles</li>
      <li>
        Hacer que Sócrates te los identifique mediante la opción "Tengo un fósil" y venderlos, ya que si los vendes sin
        identificar no te pagarán nada por ellos. En cambio, si ya están identificados, el precio será bastante alto
      </li>
      <li>Decorar con ellos tu casa y la isla</li>
    </ul>
    <div style="display: flex;">
      <img src="../../../../../assets/images/colecciones/fosiles/fosiles1.jpg" height="300" width="500"/>
      <img src="../../../../../assets/images/colecciones/fosiles/fosiles2.jpg" height="300" width="500"/>
      <img src="../../../../../assets/images/colecciones/fosiles/fosiles3.jpg"height="300" width="500"/>
    </div>
  </div>
</body>

