<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../assets/images/iconos/icono-personajesPrincipales.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Personajes principales</h1>
    </div>
    <p-divider></p-divider>
    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Al y Paca">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/al-paca.png" height="120" >
            <p class="m-0" style="align-self: center;">
              Al y Paca son un matrimonio los cuales trabajan restaurando y cambiando el aspecto
              de muebles. Puedes encontrarlos en Cayo Fauno, y allí puedes pedirles que cambien el
              diseño de tus muebles.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Alakama">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/alakama.png" height="120">
            <p class="m-0" style="align-self: center;">
              Alakama es la encargada de ayudarte a soñar cuando vas a dormir. Ella podrá
              llevarte a islas de manera online mediante códigos. Solo tienes que meterte en la cama
              y esperar a que te entre el sueño, ella aparecerá para hacer tus sueños realidad.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Alcatifa">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/alcatifa.png" height="120">
            <p class="m-0" style="align-self: center;">
              Alcatifa es una comerciante que intercambia alfrombras, suelos y papeles de pared raros al jugador.
              Se puede encontrar deambulando en días aleatorios.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Betunio">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/betunio.png" height="120">
            <p class="m-0" style="align-self: center;">
              Betunio es un vendedor ambulante de zapatos, bolsos y calcetines. Aparecerá fuera de la
              Oficina de gestión vecinal. Sus productos son exclusivos, es el único que vende
              bolsos, mochilas y riñoneras.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Buh">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/Ghost.png" height="120">
            <p class="m-0" style="align-self: center;">
              Buh es un fantasma el cual puedes encontrar aleatoriamente por la noche en la isla.
              Irónicamente, Buh tiene miedo de los fantasmas y siempre te acaba confundiendo con uno y
              asustandose. Tendrás que ayudarlo a recoger las volutas que se esparcen por la isla cuando
              se asusta, a cambio te regalará algo exclusivo.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Canela">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/canela.png" height="150">
            <p class="m-0" style="align-self: center;">
              Canela es la secretaria de Tom Nook en la Nook Inc. Canela se encargará
              de los temas generales de la isla, como cambiar la melodía de la isla, cambiar
              el diseño de la bandera de la oficina y del aeródromo o resolver tus
              problemas con otros residentes.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Capitán">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/capitan.png" height="120">
            <p class="m-0" style="align-self: center;">
              El Capitán es un reconocido conductor de botes, taxis y autobuses. Él podrá
              llevarte a islas aleatorias para conseguir recursos siempre que quieras. Es un gran
              entusiasta de cantar viejas casuchas marinas y de halagar a mujeres.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="CJ">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/CJ.png"  height="120">
            <p class="m-0" style="align-self: center;">
              CJ es el anfitrión del Torneo de Pesca que se celebra en los meses de enero, abril,
              julio y octubre. Además, él visita la isla y reta al jugador a completar desafios de pesca.
              Si los completas con éxito te comprará a mejor precio las capturas e incluso puede hacerte
              decoraciones para tu casa.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Estela">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/estela.png" height="120">
            <p class="m-0" style="align-self: center;">
              Estela es la hermana menor de Sócrates. Se puede encontrar a Estela paseando por la isla
              en las noches de lluvia de estrellas pidiendo deseos. Al hablar con ella, te hablará sobre
              la lluvia de estrellas y te dará el proyecto de bricolaje de la varita mágica.
              Si le enseñas un fragmento de constelación te hablará de dicha constelación y te dará
              un proyecto de bricolaje de ella.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Fauno">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/fauno.png" height="120">
            <p class="m-0" style="align-self: center;">
              Fauno es el administrador de Fotopía que se encuentra en Cayo Fauno. en Fotopía podrás
              tomar fotos junto con otros jugadores y aldeanos.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Fígaro">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/figaro.png" height="120">
            <p class="m-0" style="align-self: center;">
              Fígaro es una paloma que trabaja como propietario y servidor de El Alpiste, una cafetería que
              opera las 24 horas del día y que se ubica en el museo. El café que Fígaro hace es espectacular,
              lo puedes pedir para tomar o para llevar incluso pedir tu variedad favorita.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Gandulio">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/gandulio.png" height="130">
            <p class="m-0" style="align-self: center;">
              Gandulio es un vendedor ambulante de artículos de jardinería que se establece fuera
              de la Oficina de gestión vecinal. Vende arbustos, semillas de flores y ofrece un servicio
              de quitar hierbajos de la isla, así como te los compra también.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Juliana">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/juliana.png" height="130">
            <p class="m-0" style="align-self: center;">
              Juliana es la nieta de Juana. Juliana asume el papel de su abuela, vender nabos periódicamente.
              Ella viene a la isla cada domingo por la mañana. Los nabos son un negocio muy rentable ya que
              puedes venderlos en MiniNook y llevarte mucha ganancia, pero debes saber cuando hacerlo, el precio
              cambia según el día.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Kamilo">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/kamilo.png" height="130">
            <p class="m-0" style="align-self: center;">
              Kamilo es el anfitrión de la Caza de Bichos que se lleva a cabo durante el verano.
              Kamilo además visita de forma recurrente la isla para recolectar bichos, él te pagará
              más por los bichos que le vendas.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Katrina">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/katrina.png" height="120">
            <p class="m-0" style="align-self: center;">
              Katrina es una pantera adivina a la que puedes visitar en Cayo Fauno. Ella podrá leer
              tu futuro, ver cómo van las relaciones con cualquier vecino y quitarte cualquier tipo de
              mala energía o maldición.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Ladino">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/ladino.png" height="120">
            <p class="m-0" style="align-self: center;">
              Ladino es un zorro poco cofiable que comercia muebles ilícitos. Es conocido por vender
              obras de arte falsificadas y artículos raros. Tienes que tener mucho cuidado al comprar,
              ¡examina con cuidado todos los detalles!
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Marilín">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/marilin.png" height="120">
            <p class="m-0" style="align-self: center;">
              Marilín es una caniche rosa que hace las funciones de peluquería. Solo tienes que ir a Cayo Fauno.
              Allí ella te cambiará el look, seguro te ves estupendo.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Matías">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/matias.png" height="120">
            <p class="m-0" style="align-self: center;">
              Matías es un manatí que trabaja para el Archipiélago Paraíso vendiendo muebles exclusivos.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Miko">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/miko.png" height="120">
            <p class="m-0" style="align-self: center;">
              Miko es un mono langur cuyo trabajo consiste en ayudar al jugador a diseñar hogares
              en el Archipiélago Paraíso, acompañándolo y guiándolo en el proceso de diseño de interiores
              y exteriores.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Nuria">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/nuria.png" height="120">
            <p class="m-0" style="align-self: center;">
              Nuria es una nutria y es la encargada de la Inmobiliaria Nook. Ella te ayudará a diseñar casas
              en el Archipiélado Paraíso. Ella te pagará con una moneda especial llamada pokis.
              Con los Pokis podrás comprarle a Matías objetos exclusivos.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Pascal">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/pascal.png" height="120">
            <p class="m-0" style="align-self: center;">
              Pascal aparecerá cuando tengas una vieira y te propondrá intercambiarla por una receta
              de bricolaje. Ocasionalmente te dará una perla.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Pili y Mili">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/pili-mili.png" height="120">
            <p class="m-0" style="align-self: center;">
              Pili y Mili son hermanas y son propietarias de la sastrería Hermanas Manitas. Pili
              es la más carismática de las hermanas y ayuda a los clientes con sus compras.
              Mili es más tímida y solo cose en la esquina de la tienda, si hablas con ella durante días
              puedes hacerte su amiga.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Rodri y Rafa">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/rafa-rodri.png" height="120">
            <p class="m-0" style="align-self: center;">
              Rodri y Rafa trabajan en Dodo Airlines, el aeródromo de la isla. Rafa está a cargo
              del mostrador de facturación y Rafa es el piloto. El aeródromo permite al jugador invitar
              a amigos a su isla, así como viajar a otras islas o ir al trabajo (DLC Happy Home Paradise).
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Sócrates">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/socrates.png" height="120">
            <p class="m-0" style="align-self: center;">
              Sócrates es un búho erudito. Es el director del museo y el hermano mayor de Estela.
              Acepta donaciones como peces, bichos, fósiles y obras de arte. Sócrates también puede
              dar al jugador información sobre el museo.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Tendo y Nendo">
          <div style="display: flex;"  class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/tendo-nendo.png" height="130">
            <p class="m-0" style="align-self: center;">
              Tendo y Nendo son los empleados gemelos de Tom Nook, el mapache que dirige la tienda del Pueblo.
              Siendo los sobrinos adoptivos de este. Son los empleados que trabajan en la tienda MiniNook de la isla.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Tili">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/tili.png" height="120">
            <p class="m-0" style="align-self: center;">
              Tili es la hermana de Mili y Pili que se fue de casa para trabajar como diseñadora de modas
              en la ciudad. Ella aparece en días aleatorios en la isla
              y te propondrá un reto de moda, si lo cumples con éxito Tili te regalará prendas exclusivas
              diseñadas por ella.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Tom Nook">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/tom-nook.png" height="150">
            <p class="m-0" style="align-self: center;">
              Tom Nook es un personaje especial que desempeña el papel más importante en todos los juegos de Animal Crossing.
              Tom Nook es un agente turístico y a través de su compañía, puedes comprar un paquete de escapada a una
              isla desierta al inicio del juego. Es el dueño y fundador de la empresa Nook. Inc. Además,
              trabaja en la oficina de gestión vecinal, es a través de él que se le permite mejorar la isla y
              varios edificios que se pueden construir.
            </p>
          </div>
      </p-fieldset>
    </div>

    <br>
    <div class="card flex justify-content-center">
      <p-fieldset legend="Totakeke">
          <div style="display: flex;" class="tarjeta">
            <img src="../../../../assets/images/personajes-principales/totakeke.png" height="120">
            <p class="m-0" style="align-self: center;">
              Totakeke es un perro artista cuyo papel es tocar y cantar canciones para el jugador
              cada sábado noche. Totakeke toca un total de 95 canciones. Aparecerá todos los sábados
              en la plaza de la isla para deleitarte con su música. Es un personaje muy amado.
            </p>
          </div>
      </p-fieldset>
    </div>
  </div>
</body>

