<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../../assets/images/iconos/icono-museo.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Museo</h1>
    </div>
    <p-divider></p-divider>
    <p>
      El museo es un edificio con la funcionalidad de coleccionar y exhibir Bichos, Peces, Pinturas y
      Fósiles. Esta administrado por Sócrates, el cual se encuentra en el vestíbulo de entrada.
    </p>
    <p>
      Podemos donar bichos, peces, fósiles y obras de arte que conseguimos para exponerlo todo en sus pasillos llenos de cultura.
      Hay varias colecciones que podemos completar en nuestro museo, ¡a por ellas!
    </p>
    <br>
    <h2>Cómo conseguir que Sócrates se mude a la isla</h2>
    <p-divider></p-divider>
    <p>
      Desbloquear el museo es bastante sencillo, pero primero vas a necesitar que Sócrates se mude a vivir a la
      isla. Para ello, hay que seguir estos pasos:
    </p>
    <ul>
      <li>Habla con Tom Nook: después de aterrizar en la isla y superar el tutorial del juego, es decir, cuando te vayas a dormir y dé comienzo un nuevo día ya sincronizado con el horario real de tu consola</li>
      <li>A por fauna local: Tom Nook te comentará que estaría bien que le donases algo de fauna local como nueva misión</li>
      <li>Ve en busca de bichos y peces: para ello debes construir una red y una caña de pescar respectivamente en un banco de bricolaje</li>
      <li>Dona 5 especies diferentes: a Tom Nook, así Sócrates llamará por teléfono para decir que quiere mudarse a la isla</li>
      <li>Coloca la carpa de Sócrates: te la dará Tom Nook para que la instales en cualquier parte de la isla. Escoge un buen sitio, pues en el futuro será la localización del museo</li>
    </ul>
    <div style="display: flex;">
      <img src="../../../../../assets/images/museo/museo1.jpg" height="300" width="500"/>
      <img src="../../../../../assets/images/museo/museo2.jpg" height="300" width="500"/>
      <img src="../../../../../assets/images/museo/museo3.jpg" height="300" width="500"/>
    </div>
    <br>
    <h2>Desbloquear la mejora del edificio del museo</h2>
    <p-divider></p-divider>
    <p>Sócrates estará instalado en su carpa, pero esto todavía no es un museo digno. Si hablas con el búho te contará que necesita, al menos, 15 especies nuevas de bichos, peces o fósiles para abrir el museo de verdad.</p>
    <p>Una vez el museo esté instalado por fin, Sócrates estará disponible todos los días del año a todas horas y podrás seguir ampliando las exposiciones.</p>
    <div style="display: flex;">
      <img src="../../../../../assets/images/museo/museo4.png" height="300" width="500"/>
      <img src="../../../../../assets/images/museo/museo5.jpeg" height="300" width="500"/>
      <img src="../../../../../assets/images/museo/museo6.jpg" height="300" width="500"/>
    </div>
  </div>
</body>

