<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../assets/images/iconos/icono-criaturaMarina.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Criaturas marinas</h1>
    </div>
    <p-divider></p-divider>
    <p>
      Las criaturas submarinas, también conocido como crustáceos o moluscos son un tipo de criaturas coleccionables en Animal
      Crossing. El jugador puede atraparlo nadando en el océano usando un Traje buceo y sumergiéndose cuando se encuentre directamente
      sobre una sombra, o nadando bajo el agua.
    </p>
    <p>
      El tamaño de las sombras varía desde tan pequeño como el Camarón Boreal y hasta tan grande como el Isópodo Gigante.
    </p>
    <p>
      Al igual que los Bichos y Peces, pueden ser donados al Museo al hablar con Sócrates, quien luego los exhibirá en la sección de criaturas submarinas.
    </p>
    <img src="../../../../assets/images/colecciones/criaturas-marinas/criaturas-marinas.jpg"/>
  </div>
</body>

