<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../assets/images/iconos/icono-bichos.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Bichos</h1>
    </div>
    <p-divider></p-divider>
    <p>
      Los bichos o insectos son objetos coleccionables en la saga de Animal Crossing. Los jugadores pueden
      cazarlos con una red. Pueden ser donados al museo, vendidos o colocados en la casa del jugador
      (dentro de una jaula) como un mueble. Una gran cantidad de insectos aparecerán durante el verano, algunos
      únicos en otoño y primavera y muy pocos durante el invierno.
    </p>
    <p>
      Cabe aclarar que en el juego se encasilla en esta categoría a todo ser vivo que puede ser capturado con la red,
      siendo que en la vida real no pertenecen a esta clase. Ejemplos de esto son el caracol (que es un molusco),
      la tarántula y el escorpión (que son arácnidos) y los ciempiés que son miriápodos.
    </p>
    <p>
      Los bichos realmente le dan vida a nuestro pueblo ya que dependiendo de la estación podremos escuchar sonidos
      distintos que marcan sus presencias tanto en los árboles, las flores, el suelo, etc. Y además presenciar el
      comportamiento y las reacciones de nuestros vecinos al contemplarlos y capturarlos.
    </p>
    <div style="justify-content: center; text-align: center;">
      <img src="../../../../assets/images/colecciones/bichos/bichos.jpg"/>
    </div>
  </div>
</body>


