<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../../assets/images/iconos/icono-cayoFauno.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Cayo Fauno</h1>
    </div>
    <p-divider></p-divider>
    <p>
      En el islote Cayo Fauno podremos hacer distintas cosas como visitar el estudio de fotografía de Fauno,
      comprar plantas, zapatos, obras de arte e incluso cambiarnos de look. Para desbloquear Cayo Fauno primero
      debemos conocer a Fauno.
    </p>
    <br>
    <h2>¿Cómo conocer a Fauno?</h2>
    <p-divider></p-divider>
    <p>
      Fauno tan solo aparecerá por tu isla si primero cumples un requisito. Has de conseguir que al menos
      tres nuevos vecinos se muden a tu isla, algo que puede realizarse tras conseguir abrir la tienda MiniNook
      y viajar a islas desiertas para encontrarte con otros personajes a los que invitar a mudarse.
    </p>
    <p>
      Fauno podrá aparecer cualquier día por tu isla, rondando los exteriores. Se le reconoce por su vestimenta
      claramente hippie, con unas grandes gafas y pelo largo. Cuando lo veas, acércate a saludarlo y te dirá que
      vive en una isla llamada Cayo Fauno. Además, te invitará a pasarte a visitarlo por allí cuando quieras.
    </p>
    <div style="display: flex;">
      <img src="../../../../../assets/images/cayo-fauno/fauno-1.jpg" height="300" width="500"/>
      <img src="../../../../../assets/images/cayo-fauno/fauno-2.jpeg" height="300" width="500"/>
    </div>
    <br>
    <h2>¿Cómo viajar a la isla Cayo Fauno?</h2>
    <p-divider></p-divider>
    <ul>
      <li>Dirígete al aeródromo de Dodo Airlines y habla con Rafa, como si fueses a hacer un viaje</li>
      <li>Selecciona la opción de diálogo "Quiero viajar"</li>
      <li>Verás que se ha añadido una nueva opción que dice "Isla de Fauno"</li>
    </ul>
    <p>
      Los viajes a Cayo Fauno son totalmente gratis y no te hace falta adquirir un cupón con Millas. Puedes viajar a Cayo Fauno siempre que quieras.
    </p>
    <br>
    <h2>¿Qué hay en Cayo Fauno?</h2>
    <p-divider></p-divider>
    <div class="card flex justify-content-center">
      <p-accordion [activeIndex]="0">
          <p-accordionTab header="Sesiones fotográficas">
              <p>
                En la isla de Fauno encontrarás una casa en cuyo interior el personaje de Fauno posee un estudio fotográfico al que llama Fotopía. Si entras en ella verás que cuenta con hasta 6 habitaciones distintas.
              </p>
              <p>
                Redecora a tu gusto, haz fotos, usa modelos, realiza poses y escoge sus ropas.
              </p>
              <div class="card flex justify-content-center">
                <p-image src="../../../../../assets/images/cayo-fauno/fauno-3.jpg" alt="Image" width="250" [preview]="true"></p-image>
                <p-image src="../../../../../assets/images/cayo-fauno/fauno-4.jpg" alt="Image" width="250" [preview]="true"></p-image>
              </div>
          </p-accordionTab>
          <p-accordionTab header="Comunidad cooperativa">
              <p>
                En la comunidad cooperativa de Cayo Fauno encontraremos 7 puestos o tiendas distintas que podemos desbloquear.
                Para desbloquear cada una debemos donar 100 mil bayas por puesto o tienda.
              </p>
              <p>
                En la comunidad aparecen personajes exclusivos como Tórtimer, Marilín o Katrina, así como personajes que aparecen en
                el juego como Gandulio o Ladino. Ellos te ofrecerán sus servicios, por ejemplo, Gandulio te venderá plantas y flores o
                Marilín te ofrecerá sus servicios de peluquería.
              </p>
              <div class="card flex justify-content-center">
                <p-image src="../../../../../assets/images/cayo-fauno/fauno-5.jpeg" alt="Image" width="250" [preview]="true"></p-image>
                <p-image src="../../../../../assets/images/cayo-fauno/fauno-6.png" alt="Image" width="250" [preview]="true"></p-image>
                <p-image src="../../../../../assets/images/cayo-fauno/fauno-7.png" alt="Image" width="250" [preview]="true"></p-image>
              </div>
          </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</body>


