<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../../assets/images/iconos/icono-aerodromo.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Aeródromo</h1>
    </div>
    <p-divider></p-divider>
    <p>En el aeródromo podrás viajar a otras islas bien sea a islas de amigos o a islas aleatorias.</p>
    <p>
      Usando cupones de millas podrás viajar a otras islas sin necesidad de comunicación local o en línea.
      Eso es muy útil para recolectar cosas y conocer personajes a los que luego puedes invitar a que se muden a tu isla.
    </p>
    <p>
      También puedes permitir que alguien venga a visitarte. Para hacerlo, solo has de elegir la opción "Quiero recibir
      visita". Tras elegirla, debes seleccionar si quieres que sea un visitante mediante comunicación local
      (si otra Nintendo Switch está junto a la tuya), o mediante juego en línea (te podrán visitar jugadores de todo el mundo).
    </p>
    <br>
    <div class="card flex justify-content-center" style="display: flex; justify-content: center; align-items: center;">
      <p-image src="../../../../../assets/images/aerodromo/aerodromo.png" alt="Image" width="250" [preview]="true" style="margin-right: 5%;"/>
      <p-image src="../../../../../assets/images/aerodromo/aerodromo2.png" alt="Image" width="250" [preview]="true" style="margin-right: 5%;" />
      <p-image src="../../../../../assets/images/aerodromo/aerodromo3.jfif" alt="Image" width="250" [preview]="true" />
    </div>
  </div>
</body>



