<body>
  <div class="container">
    <div class="header">
      <img src="../../../assets/images/logo.png" width="150" height="150"/>
    </div>
    <div class="content">
      <div class="list">
        <div class="list-header">
          <h3 style="font-size: xx-large; font-family: monospace;">PUBLICACIONES: </h3>
        </div>
        <button mat-raised-button color="primary" (click)="addAnimal()" style="margin-left: 3%;">
          Añadir publicación
        </button>
        <app-list
          [animal$]="allAnimal$"
          (animalEmitter)="selectAnimal($event)"
        ></app-list>
      </div>
      <app-detail
        [animal]="selectedAnimal"
        *ngIf="selectedAnimal"
        (deleteAnimal)="deleteAnimal()"
        (updateAnimal)="updateAnimal()"
        style="background-color: aliceblue;"
      ></app-detail>
    </div>
  </div>
</body>

