<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../../assets/images/iconos/icono-mininook.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">MiniNook</h1>
    </div>
    <p-divider></p-divider>
    <p>
      En MiniNook podremos comprar todo tipo de artículos a Tendo y Nendo, desde muebles hasta herramientas.
      En los primeros días de juego Tendo nos venderá y nos comprará lo que queramos, pero ¿cómo desbloqueamos
      la tienda? ¿Qué venden en ella?
    </p>
    <br>
    <h2>Cómo desbloquear la tienda MiniNook</h2>
    <p-divider></p-divider>
    <p>
      Para poder desbloquear la tienda MiniNook lo primero que tendremos que hacer será pagar nuestra
      primera hipoteca, valorada en 5.000 millas o 48.500 bayas. La forma más fácil, seguramente, os sea
      pagarla con las millas (ya que al principio es fácil obtener muchas rápidamente).
    </p>
    <p>Los recursos que necesitamos para abrir la tienda son:</p>
    <ul>
      <li>30 tablas flexibles</li>
      <li>30 tablas normales</li>
      <li>30 tablas rígidas</li>
      <li>30 pepitas de hierro</li>
    </ul>
    <div style="display: flex;">
      <img src="../../../../../assets/images/mininook/desbloquearnook.png" height="300" width="500"/>
      <img src="../../../../../assets/images/mininook/mininook_inauguracion.jpg" height="300" width="500"/>
    </div>
    <br>
    <h2>¿Qué se puede comprar en la Tienda MiniNook?</h2>
    <p-divider></p-divider>
    <p>
      La tienda abre de 8 de la mañana a 10 de la noche, todos los días de la semana. Fuera del horario se
      puede usar un buzón de compraventa en el exterior, en el que se venden objetos al 80% de su precio y
      se recibe el dinero al día siguiente por correo.
    </p>
    <p>
      En la tienda encontraréis una gran variedad de ítems y nuevos diseños. Además podéis venderle a Tendo y Nendo
      los nabos que compréis a Juliana los domingos y cada día habrá un producto "del día" que os lo compren al
      doble de su valor habitual, algo que podéis aprovechar para sacar un buen puñado de bayas.
    </p>
    <div style="display: flex;">
      <img src="../../../../../assets/images/mininook/mininook_comprar.png" height="300" width="500"/>
      <img src="../../../../../assets/images/mininook/mininook_dentro.jpg" height="300" width="500"/>
    </div>
    <br>
    <h2>Mejorar la tienda a supermercado</h2>
    <p-divider></p-divider>
    <p>
      La Tienda MiniNook, como en anteriores entregas de la saga, se puede mejorar para conseguir el Supermercado
      (y otras ampliaciones tras esta aún no descubiertas). Eso sí, para hacerlo tenéis que cumplir varios requisitos.
    </p>
    <ul>
      <li>El primero de ellos es haber conseguido el centro de gestión vecinal o ayuntamiento</li>
      <li>Otro requisito es haber jugado durante aproximadamente 28 días (no de tiempo total, sino de días conectados)</li>
      <li>Después de esto debéis llegar a gastar 70.000 bayas en la tienda</li>
    </ul>
    <p>
      Una vez todo eso ocurra, Canela anunciará que la tienda cerrará el día siguiente, y el día después
      de ese se convertirá en el supermercado. En él hay mayor variedad de productos y servicios. En lugar
      de haber un objeto diario que Tendo y Nendo nos comprará a un precio mayor, hay dos. Además,
      hay herramientas con diseños personalizados.
    </p>
    <div style="display: flex;">
      <img src="../../../../../assets/images/mininook/supernook.jfif" height="300" width="500"/>
      <img src="../../../../../assets/images/mininook/supernook2.jfif" height="300" width="500"/>
    </div>
  </div>
</body>

