<app-navbar></app-navbar>
<body>
  <div class="contenido">
    <br>
    <div style="display: flex;">
      <img src="../../../../../assets/images/iconos/icono-hermanasManitas.png" height="100" width="100">
      <h1 style="align-self: center; margin-top: 2%;">Hermanas Manitas</h1>
    </div>
    <p-divider></p-divider>
    <p>
      Una de las tiendas que más gustan a los jugadores que quieren personalizar a tope su experiencia es la sastrería
      de las Hermanas Manitas, la tienda por la cual puedes comprar artículos de ropa y accesorios.
    </p>
    <br>
    <h2>¿Cómo conseguir la sastrería de las Hermanas Manitas?</h2>
    <p-divider></p-divider>
    <p>
      Cuando comiences tu partida, los gemelos Tendo y Nendo serán los primeros en abrir su propia tienda independiente de
      objetos, como ya hemos explicado en este otro apartado. Una vez hecho esto, durante la inauguración del establecimiento
      deberías ver a Pili, una de las hermanas puercoespín, pasarse a visitar la tienda para felicitar a los gemelos. No dudes en ir a saludarla.
    </p>
    <p>
      Desde ese momento, Pili aparecerá de vez en cuando con un puesto de ropa ambulante. Los requisitos para que te ofrezca
      la tienda son:
    </p>
    <ul>
      <li>Debes comprarle a Pili en tres días diferentes algo de sus mercancías</li>
      <li>Cada día que aparece vende una selección diferente de ropa</li>
      <li>Con gastar unas 5.000 bayas en total en sus artículos debería ser suficiente</li>
    </ul>
    <div class="card flex justify-content-center" style="display: flex; justify-content: center; align-items: center;">
      <p-image src="../../../../../assets/images/hermanasManitas/hermanas1.png" alt="Image" width="250" [preview]="true" style="margin-right: 5%;"/>
      <p-image src="../../../../../assets/images/hermanasManitas/hermanas2.jpg" alt="Image" width="250" [preview]="true"/>
    </div>
    <br>
    <h2>¿Qué se puede comprar en la tienda de las Hermanas Manitas?</h2>
    <p-divider></p-divider>
    <p>
      Como buena sastrería que es, obviamente en esta tienda podrás adquirir diferentes artículos de moda, ropa y
      accesorios para personalizar a tu personaje. Dentro de la tienda encontrarás estas secciones:
    </p>
    <ul>
      <li>Prendas destacadas: se venden artículos distintos todos los días</li>
      <li>Maniquís: estos exhiben artículos de temporada que cambian de vez en cuando, no a diario</li>
      <li>Diseños personalizados: diseños de otros clientes. Puedes llevarte una copia gratis y también exponer los tuyos propios</li>
      <li>Portal de diseños personalizados: puedes pedir diseños de creadores de todo el mundo y compartir los tuyos con los demás</li>
      <li>Probador: puedes probarte todas las prendas que están a la venta en cualquiera de sus variantes</li>
    </ul>
  </div>
</body>

